.lang {
    color: #2e59d9 !important;
}
.btnAdd {
    float: right;
}
.btnAdd i {
    color: #fff3cd;
}
.img-lang {
    width: 20px;
    height: 20px;
}
.slider-img-1 {
    background-image: url('../img/slide-homepage/bg_1.jpg');
}
.slider-img-2 {
    background-image: url('../img/slide-homepage/bg_2.jpg');
}
.slider-img-3 {
    background-image: url('../img/slide-homepage/bg_3.jpg');
}
.img-fruits {
    background-image: url('../img/category-2.jpg');
}
.img-vegetable {
    background-image: url('../img/category-3.jpg');
}
.img-dried {
    background-image: url('../img/category-4.jpg');
}
.img-other-vege {
    background-image: url('../img/category-1.jpg');
}
.img-category {
    background-image: url("../img/category.jpg");
}
.img-category {
    background-image: url("../img/category.jpg");
}
.image_products {
    width: 150px;
    height: 150px;
}
.img-show {
    width: 50px;
    height: 50px;
}
.img-fea-post {
    width: 300px;
    height: 300px;
}
ul.pagination {
    width: 0;
    margin: auto;
}
.img-recent {
    width: 100px;
    height: 100px;
}
.img-container {
    background-image: url("../img/bg-01.jpg");
}
.back-top {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #82ae46;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.bg-light {
    background: #e4e2db !important;
}
.goto-here {
    background: #efeaea;
}
.user-regis-pa {
    position: relative;
}
.nav-cart {
    position: relative;
}
.user-regis-pa ul {
    position: absolute;
    display: none;
    background: #fff;
}
.nav-cart ul {
    position: absolute;
    display: none;
    background: #fff;
}
.user-regis-pa:hover ul {
    display: inline-block;
    list-style: none;
    width: 150px;
}
.reg-log a {
    color: #0c0c0c;
}
.reg-log a {
    color: #0c0c0c;
}
.reg-log a:hover {
    color: #00cc00;
}
.mb-sub {
    font-size: 22px;
}
.product-category {
    margin: auto;
    width: 60%;
}
ul.pagination {
     display: flex;
     justify-content: center;
}
.title-introduce {
    font-size: 20px;
    text-align: center;
}
.section-introduce {
    font-size: 15px;
}
.nav-cart:hover ul {
    display: block;
}
.item-cart {
    width: 350px;
}
.img-item {
    width: 70px;
    height: 70px;
    float: left;
}
.item-cart li {
    list-style: none;
}
.quick-cart {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}
figure.image-cart {
    width: 30%;
    float: left;
    border: 1px solid #eee;
    padding: 3px;
}
.text_cart {
    font-size: 14px;
    float: left;
    padding: 0 12px;
    width: 70%;
    text-align: left;
    line-height: initial;
}
ul.item-cart {
    margin-left: -164px;
}
.cart-area, .inside-cart {
    position: relative;
}
.cart{
    cursor: pointer;
}
.cart, .inside-cart {
    font-size: 24px;
}
.cart i, .inside-cart i {
    color: grey;
    padding: 12px 6px;
}
.notification {
    position: absolute;
    top: 5px;
    right: -6px;
    background: #ec487f;
    height: 17px;
    width: 17px;
    text-align: center;
    padding: 1px;
    color: white;
    font-size: 10px;
    border-radius: 120px;
}
.dropdown-cart {
    opacity: 0;
    position: absolute;
    margin-top: 10px;
    right: 0px;
    background:  #eeeeee;
    width: 270px;
    padding: 15px 15px;
    transition: 0.5s all ease;
}
.show-dropdown-cart {
    opacity: 1;
    transition: 0.5s all ease;
}
.cart-info {
    width: 100%;
    padding: 5px 0px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total {
    margin-right: 30px;
}
.inside-cart {
    position: relative;
}
.inside-cart i {
    padding: 4px;
}
.inside-cart .notification {
    top: -3px;
    right: -8px;
}
.cart-product {
    width: 100%;
    display: flex;
    margin-top: 5px;
    padding: 5px 0px;
    border-bottom: 1px solid #e0e0e0;
}
.cart-img-product {
    width: 20%;
    padding: 3px 0px;
}
.cart-img-product img {
    height: 80%;
    width: 100%;
}
.cart-info-product {
    width: 75%;
    padding: 3px 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cart-info-product h4 {
    width: 100%;
    font-size: 14px;
    font-weight: 1000;
}
.cart-product-purchase {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price {
    font-size: 16px;
    color: steelblue;
    padding: 5px 0px;
    font-weight: bold;
}
span {
    font-size: 13px;
    text-align: end;
    padding: 5px 0px;
    color: grey;
}
#checkout {
    width: 100%;
    margin-bottom: 10px;
    background: #ec487f;
    outline: none;
    border: none;
    padding: 6px 0px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
input.remove-item {
     height: 10%;
     margin-top: 10px;
     margin-right: 10px;
     border: none;
}
.btn-pay {
    margin-left: 15%;
}
#total-qty-show {
    font-size: 13px;
    color: #985f0d;
}
ul.item-cart {
    overflow: auto;
    height: 280px;
}
.title-cart {
    font-size: 17px;
    color: #985f0d;
}
.cart-check-info {
    width: 100%;
    margin-bottom: 10px;
}
.minus, .plus {
    cursor: pointer;
    width:20%;
    height: 33px;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.number-item {
    height: 33px;
    width: 50%;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}
.shoping-checkout {
    background: #f5f5f5;
    padding: 30px;
    padding-top: 20px;
    margin-top: 50px;
    float: right;
    width: 40%;
}
.shoping-checkout h5 {
    color: #1c1c1c;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 28px;
}
.shoping-checkout ul {
    padding: 0;
}
.shoping-checkout ul li {
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 700;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 13px;
    margin-bottom: 18px;
}
.shoping-checkout ul li span {
    font-size: 18px;
    color: #dd2222;
    float: right;
}
.shoping-checkout .primary-btn {
    display: block;
    text-align: center;
    background: #82ae46;
    color: #ffff;
    height: 31px;
}
a.btn.btn-success.update-number-item {
    color: #ffffff;
}
span.subheading {
    text-align: center;
}
.product-details {
    padding-top: 80px;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}
img.product__details__pic__item--large {
    max-width: 100%;
}
.product__details__pic__item {
    margin-bottom: 20px;
}
.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
    left: 0;
}
.owl-nav button.owl-next {
    right: 0;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}
.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}
.owl-dots button.owl-dot.active {
    background-color: #000;
}
.owl-dots button.owl-dot:focus {
    outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}
.owl-nav button:focus {
    outline: none;
}
.product__details__text .product__details__rating {
    font-size: 14px;
    margin-bottom: 12px;
}
.product__details__text .product__details__rating i {
    margin-right: -2px;
    color: #EDBB0E;
}
.product__details__text .product__details__rating span {
    color: #dd2222;
    margin-left: 4px;
}
.product__details__text .product__details__price {
    font-size: 30px;
    color: #dd2222;
    font-weight: 600;
    margin-bottom: 15px;
}
.product__details__quantity {
    display: inline-block;
    margin-right: 6px;
}
.pro-qty {
    width: 140px;
    height: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    background: #f5f5f5;
    margin-bottom: 5px;
}
.pro-qty .qtybtn {
    width: 35px;
    font-size: 16px;
    color: #6f6f6f;
    cursor: pointer;
    display: inline-block;
}
.pro-qty input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #6f6f6f;
    border: none;
    background: #f5f5f5;
    text-align: center;
}
.pro-qty .qtybtn {
    width: 35px;
    font-size: 16px;
    color: #6f6f6f;
    cursor: pointer;
    display: inline-block;
}
input#quantity {
    margin-top: 5px;
}
