.lang {
    color: #2e59d9 !important;
}
.btnAdd {
    float: right;
}
.btnAdd i {
    color: #fff3cd;
}
.img-lang {
    width: 20px;
    height: 20px;
}
.slider-img-1 {
    background-image: url('../img/slide-homepage/bg_1.jpg');
}
.slider-img-2 {
    background-image: url('../img/slide-homepage/bg_2.jpg');
}
.slider-img-3 {
    background-image: url('../img/slide-homepage/bg_3.jpg');
}
